html {background-color: rgb(93, 62, 122);}

.basic-heading {
    font-size: 30px;
    text-align: center;
}

.buttons {
    background-color: chocolate;
    color:rgb(12, 61, 5);
    border-radius: 12px;
    font-size: 2rem;
    height: 100px;
    width: 200px;
    text-align: center;
}

element.style .footer {
    margin-left: 100px;
    margin-right: 100px;
}